form{
    background-color: white;
    width: 40%;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 12px 12px 12px gray;
}
button{
    background-color: greenyellow;
    color: darkblue;
    width: 100px;
    height: 50px;
    border-radius: 20px;


body{
background-color: aqua}
}